@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
  background-image: url("../public/nirvik-bg.svg");
  background-repeat: no-repeat !important;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.blank {
  background-image: url("../public/nirvik-bg.svg");
  background-repeat: no-repeat !important;
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.nav-items {
  background: linear-gradient(
    to Right,
    #ede7e7 0% 35%,
    rgba(84, 68, 64, 0.98) 35%,
    #1b1617
  );
}
.home,
.contact {
  background: linear-gradient(
    to Right,
    rgba(243, 243, 243, 0.95) 0% 35%,
    rgba(84, 68, 64, 0.98) 35%,
    rgba(27, 22, 23)
  );
}

.blog {
  background: linear-gradient(
    to Right,
    rgba(243, 243, 243) 0% 35%,
    rgba(84, 68, 64) 35% 65%,
    rgba(243, 243, 243) 65% 100%
  );
}

.menu-items {
  color: #f3f3f3;
}

.active {
  color: #e73732;
}

.nirvik {
  color: #9a2624;
  font-family: "Varela Round", sans-serif;
}

.hero-cta-text {
  color: #e73732;
  font-family: "Jost", sans-serif;
  white-space: nowrap;
  overflow: visible;
}

.hero-img-container {
  max-width: 70%;
}

button {
  font-family: "Jost", sans-serif;
}
