@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

.left {
  background-color: #f3f3f3;
  width: 30%;
  display: inline;
}

.right {
  width: 70%;
  background-image: linear-gradient(to Right, #544440, #1b1617);
}

body {
  overflow-x: hidden;
}

.menu-items {
  color: #f3f3f3;
}

.active {
  color: rgba(220, 38, 38, 0.9);
}

.nirvik {
  color: #9a2624;
  font-family: "Varela Round", sans-serif;
}

/* font-family: "Jost", sans-serif; */
